@import "tailwindcss";

@theme {
  /* Colores base */
--color-dark-1: oklch(13% 0.028 261.69);
--color-dark-2: oklch(19.2% 0.035 261.84);
--color-dark-3: oklch(27.2% 0.031 262.12);
--color-dark-4: oklch(37.3% 0.026 262.00);
--color-dark-5: oklch(52.2% 0.024 262.00); 

/* Textos */
--color-light-1: oklch(98% 0.003 270);
--color-light-2: oklch(97.5% 0.006 250);
--color-light-3: oklch(93.5% 0.008 250);
--color-light-4: oklch(86% 0.01 250);
--color-light-5: oklch(62.8% 0.016 252);

/* Colores especiales */
--color-emerald: oklch(69% 0.17 162.6);
--color-blue: oklch(66% 0.23 250.5);


--color-hover: oklch(27.2% 0.031 262.12);
--color-border: oklch(37.3% 0.026 262.00);

}
